# Ignore all files by default
*

# Allow directories so Git can traverse
!*/
!**/

# Do not ignore these specific deployment files
!Frontend/app.py
!Backend/survey.py
!requirements.txt
!.gitignore
!README.md
